// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #aaaaaa;
$gradient: linear-gradient(90deg, rgba(252,67,67,1) 0%, rgba(255,166,79,1) 100%);
