// Import page-specific CSS files here.
@import "home";
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), asset-url("movies.png");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar button {
  background: none;
}

.button {
  background: $gradient;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 900;
  border:none;
  margin-bottom: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.container {
  justify-content: space-between;
}

.card-category {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), asset-url("movies.png");
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
  }
}
